{% extends "dailywork/base.html" %}
{% load static %}
{% block content %}

{% csrf_token %}

<div style="margin-top: 0px;" id="wrapper">

    <section class="container top-no-header">
        <div class="row">

            <!-- center column -->
            <div class="col-md-9">

                <!-- CATEGORY TITLE -->
                <h3 class="page-header nomargin-top">
                    <strong class="styleColor">Jobs</strong> Result
                </h3>


                <!-- BREAKING NEWS -->
                <div class="label label-primary breaknews-ticker">
                    <strong>LAST HOUR OFFER:</strong>

                    <div style="opacity: 1; display: block;" class="owl-carousel controlls-over nomargin owl-theme owl-carousel-init" data-plugin-options="{&quot;autoPlay&quot;:4000, &quot;stopOnHover&quot;:true, &quot;items&quot;: 1, &quot;singleItem&quot;: true, &quot;navigation&quot;: false, &quot;pagination&quot;: false, &quot;transitionStyle&quot;:&quot;fadeUp&quot;}">
                        <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 6616px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px); perspective-origin: 413.5px 50%;"><div class="owl-item" style="width: 827px;"><div class="owl-wrapper-outer"><div class="owl-wrapper-outer"><div style="width: 6616px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px); perspective-origin: 413.5px 50%;" class="owl-wrapper"><div style="width: 827px;" class="owl-item"><div>
                            <a href="realestate-single.html">$325/mo 700 Front Street, Key West, FL</a>
                        </div></div><div style="width: 827px;" class="owl-item"><div>
                            <a href="realestate-single.html">$750.000 1903 Hollywood Blvd, Hollywood, FL</a>
                        </div></div><div style="width: 827px;" class="owl-item"><div>
                            <a href="realestate-single.html">$122/mo 401 Biscayne Boulevard, Miami</a>
                        </div></div></div></div></div></div></div></div>


                    </div>

                </div><br>
                <!-- /BREAKING NEWS -->
                <!-- feeds -->
                <div id="jobs-list"></div>
                <!-- feeds -->
                <!-- article summary -->
                <div class="row">

                    <div class="col-md-12">
                        <h4><a class="styleColor" href="realestate-single.html">27523 Pacific Coast</a></h4>
                        <p>
                            <small class="block styleSecondColor fsize17">$350.000</small>
                            Dramatic pictures are released showing the destruction wrought by a huge boulder that smashed through a farm in northern Italy after being dislodged by a landslide.
                        </p>
                        <p>
                            <span class="fsize12 pull-right">
                                <i class="bed-ico" title="beds"></i> 3 ,
                                <i class="garage-ico" title="garage"></i> 1 ,
                                <i class="furnished-ico" title="furnished"></i>
                            </span>

                            <i class="home-ico"></i> 300m<sup>2</sup>
                        </p>
                    </div>
                </div>
                <!-- /article summary -->


                <hr class="half-margins"><!-- separator -->
                <!-- final separator -->


                <!-- PAGINATION -->
                <div class="row">

                    <div class="col-md-6 text-left">
                        <p class="hidden-xs pull-left nomargin padding20">Showing 1-10 of 38 results.</p>
                    </div>

                    <div class="col-md-6 responsive-text-center text-right">
                        <ul class="pagination">
                            <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>

                </div>
                <!-- /PAGINATION -->


            </div>

            <!-- side column -->
            <div class="col-md-3">



                <form id="re-filter" action="realestate-list.html" method="get" class="white-row">

                    <!-- FILTER / SEARCH -->
                    <h3 class="page-header nomargin-top margin-bottom40">
                        Find <strong class="styleColor">Your Home</strong>
                    </h3>

                    <div class="row">
                        <div class="form-group">

                            <div class="col-md-12 col-sm-6">
                                <label>States</label>
                                <input type="text" class="form-control" name="re_id" id="states-suggest">
                            </div>
                            <div class="col-md-12 col-sm-6">
                                <label>Zip</label>
                                <input type="text" class="form-control" name="re_id" id="zip-jobs-feed">
                            </div>
                            <div class="col-md-12 col-sm-6">
                                <label>Search In Radius (Miles)</label>
                                <input type="number" class="form-control" name="re_id" id="radius-jobs-feed">
                            </div>
                            <div class="col-md-12 col-sm-6">
                                <label>Skills</label>
                                <input type="text" class="form-control" name="re_id" id="skill-suggest">
                            </div>



                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>&nbsp;</label>
                                <button class="btn btn-primary fullwidth">FILTER NOW</button>
                            </div>
                        </div>
                    </div>

                </form>

                <!-- HOT -->
                <h3 class="page-header">
                    Today's <strong class="styleColor">Hot</strong>
                </h3>

                <!-- No #1 Hot -->
                <div class="item-box nomargin-top">
                    <figure>
                        <a class="item-hover" href="realestate-single.html">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>VEW</strong> OFFER
                            </span>
                        </a>
                        <img alt="" class="img-responsive" src="assets/images/demo/realestate/images/thumb/1.jpg">
                    </figure>
                    <div class="item-box-desc">
                        <h4 class="wrap"><a class="styleColor" href="#">1903 Hollywood Blvd, FL</a></h4>
                        <small class="font300 text-center block">~ $112.000 ~</small>
                    </div>
                </div>
                <!-- /No #1 Hot -->

                <!-- video -->
                <div style="padding-top: 56.25%;" class="fluid-width-video-wrapper"><iframe id="fitvid748385" src="http://player.vimeo.com/video/73221098"></iframe></div>
                <h5 class="font300 padding10">
                    <small class="text-center block">(3287 views last 3 days)</small>
                </h5>
                <!-- /video -->

                <!-- small articles -->
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <a href="#">
                            <img alt="" class="img-responsive" src="assets/images/demo/realestate/images/thumb/3.jpg">
                            <h6 class="fsize12 font300 padding6 styleSecondColor">Horses hypnotized by the sea</h6>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <a href="#">
                            <img alt="" class="img-responsive" src="assets/images/demo/realestate/images/thumb/4.jpg">
                            <h6 class="fsize12 font300 padding6 styleSecondColor">Sochi protesters fight to be heard</h6>
                        </a>
                    </div>
                </div>
                <!-- /small articles -->



                <!-- TWEETS -->
                <h3 class="page-header">
                    <i class="fa fa-twitter"></i>
                    Latest <strong class="styleColor">Tweets</strong>
                </h3>

                <p>
                    <a href="#">@tweetuser</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    <small class="block styleColor">12 hours ago</small>
                </p>
                <p>
                    <a href="#">@tweetuser</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    <small class="block styleColor">12 hours ago</small>
                </p>
                <p>
                    <a href="#">@tweetuser</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    <small class="block styleColor">12 hours ago</small>
                </p>

                <!-- SOCIALS -->
                <h3 class="page-header">
                    <i class="fa fa-twitter"></i>
                    <strong class="styleColor">Follow</strong> Us
                </h3>

                <a href="#" class="social fa fa-facebook"></a>
                <a href="#" class="social fa fa-twitter"></a>
                <a href="#" class="social fa fa-google-plus"></a>
                <a href="#" class="social fa fa-linkedin"></a>
                <a href="#" class="social fa fa-pinterest"></a>
                <a href="#" class="social fa fa-flickr"></a>

            </div>

        </div>

    </section>

</div>



{% endblock %}

{% block "extra_js" %}


    <script type="text/javascript" src="{% static 'dailywork/js/bootstrap-switch.js' %}"></script>
    <script type="text/javascript" src="{% static 'dailywork/js/magicsuggest-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dailywork/js/jobfeeds.js' %}"></script>

{% endblock %}
